docs/schemas/ef_xml_schema/ef_application_delete.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_common_types.xsd" />
  <xs:element name="EF_Application_Id_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EF_Application" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element name="candidate_id" type="xs:string"/>
              <xs:element name="application_id_list">
                  <xs:complexType>
                      <xs:sequence>
                          <xs:element name="application_id"  type="xs:string" maxOccurs="unbounded" />
                      </xs:sequence>
                  </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="CandidateUniqueKey">
      <xs:selector xpath="EF_Application" />
      <xs:field xpath="candidate_id" />
    </xs:unique>
  </xs:element>
</xs:schema>
