docs/schemas/ef_xml_schema/ef_course_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_course_common.xsd" />

  <xs:element name="EF_Course_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Course_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Course_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Course_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Course_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="CourseUniqueKey">
      <xs:selector xpath="EF_Course_Ingest|EF_Course_Update|EF_Course_Upsert|EF_Course_Delete" />
      <xs:field xpath="lms_course_id" />
    </xs:unique>
  </xs:element>
</xs:schema>