docs/schemas/ef_xml_schema/ef_course_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="title" type="xs:string" />
            <xs:element name="lms_course_id" type="xs:string" minOccurs="0" />
            <xs:element name="group_id" type="xs:string" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="course_type" type="xs:string" minOccurs="0" />
            <xs:element name="language" type="xs:string" minOccurs="0" />
            <xs:element name="locations" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fee" minOccurs="0">
            <xs:complexType>
                <xs:all>
                <xs:element name="fee_value" type="xs:float" minOccurs="0" />
                <xs:element name="fee_currency" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:complexType>
            </xs:element>
            <xs:element name="difficulty" type="xs:string" minOccurs="0" />
            <xs:element name="duration_hours" type="xs:float" minOccurs="0" />
            <xs:element name="rating" type="xs:float" minOccurs="0" />
            <xs:element name="rating_count" type="xs:integer" minOccurs="0" />
            <xs:element name="published_ts" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="course_url" type="xs:string" minOccurs="0"/>
            <xs:element name="image_url" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="provider" type="xs:string" minOccurs="0"/>
            <xs:element name="seniority_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="seniority"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="skill_proficiency_list" type="CourseSkillProficiencies" minOccurs="0"/>
            <xs:element name="business_unit_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="business_unit"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="job_code_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="job_code"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="job_function_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="job_function"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="skills_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="skill"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_info" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="lms_course_id" type="xs:string" minOccurs="0" />
            <xs:element name="group_id" type="xs:string" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="course_type" type="xs:string" minOccurs="0" />
            <xs:element name="language" type="xs:string" minOccurs="0" />
            <xs:element name="locations" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fee" minOccurs="0">
            <xs:complexType>
                <xs:all>
                <xs:element name="fee_value" type="xs:float" minOccurs="0" />
                <xs:element name="fee_currency" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:complexType>
            </xs:element>
            <xs:element name="difficulty" type="xs:string" minOccurs="0" />
            <xs:element name="duration_hours" type="xs:float" minOccurs="0" />
            <xs:element name="rating" type="xs:float" minOccurs="0" />
            <xs:element name="rating_count" type="xs:integer" minOccurs="0" />
            <xs:element name="published_ts" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="course_url" type="xs:string" minOccurs="0"/>
            <xs:element name="image_url" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="skill_proficiency_list" type="CourseSkillProficiencies" minOccurs="0"/>
            <xs:element name="business_unit_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="business_unit"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="seniority_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="seniority"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="job_code_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="job_code"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="job_function_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="job_function"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="provider" type="xs:string" minOccurs="0"/>
            <xs:element name="skills_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="skill"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_info" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="lms_course_id" type="xs:string" minOccurs="0" />
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

    <xs:complexType name="CourseSkillProficiencies">
        <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="skill_proficiency" type="CourseSkillProficiency" />
        </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CourseSkillProficiency">
    <xs:all>
        <xs:element name="skill" type="xs:string" maxOccurs="1" minOccurs="1"/>
        <xs:element name="proficiency" type="xs:float" maxOccurs="1" minOccurs="1"/>
    </xs:all>
    </xs:complexType>

</xs:schema>