docs/schemas/ef_xml_schema/ef_certificate_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_certificate_common.xsd" />

  <xs:element name="EF_Certificate_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Certificate_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Certificate_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Certificate_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Certificate_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="CertificateUniqueKey">
      <xs:selector xpath="EF_Certificate_Ingest|EF_Certificate_Update|EF_Certificate_Upsert|EF_Certificate_Delete" />
      <xs:field xpath="external_id" />
    </xs:unique>
  </xs:element>
</xs:schema> 