docs/schemas/ef_xml_schema/ef_common_types.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EducationType">
    <xs:all>
      <xs:element name="school" type="xs:string" minOccurs="0"/>
      <xs:element name="degree" type="xs:string" minOccurs="0" />
      <xs:element name="major" type="xs:string" minOccurs="0" />
      <xs:element name="description" type="xs:string" minOccurs="0" />
      <xs:element name="location" type="xs:string" minOccurs="0" />
      <xs:element name="start_date" type="xs:date" minOccurs="0" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="is_current" type="xs:boolean" minOccurs="0" />
      <xs:element name="verification_status" type="xs:string" minOccurs="0" />
      <xs:element name="school_external_id" type="xs:string" minOccurs="0" />
      <xs:element name="degree_external_id" type="xs:string" minOccurs="0" />
      <xs:element name="major_external_id" type="xs:string" minOccurs="0" />
      <xs:element name="is_graduated" type="xs:boolean" minOccurs="0" />
      <xs:element name="name_alias" type="xs:string" minOccurs="0" />
      <xs:element name="verification_by" type="xs:string" minOccurs="0" />
      <xs:element name="verification_ts" type="xs:dateTime" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CertificationType">
    <xs:all>
      <xs:element name="certificate_name" type="xs:string" minOccurs="0"/>
      <xs:element name="issuing_authority" type="xs:string" minOccurs="0" />
      <xs:element name="proficiency" type="xs:string" minOccurs="0" />
      <xs:element name="license_no" type="xs:string" minOccurs="0" />
      <xs:element name="valid_from" type="xs:date" minOccurs="0" />
      <xs:element name="valid_to" type="xs:date" minOccurs="0" />
      <xs:element name="start_date" type="xs:date" minOccurs="0" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="location_state" type="xs:string" minOccurs="0"/>
      <xs:element name="location_country" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0" />
      <xs:element name="comments" type="xs:string" minOccurs="0" />
      <xs:element name="verification_status" type="xs:string" minOccurs="0" />
      <xs:element name="verification_by" type="xs:string" minOccurs="0" />
      <xs:element name="verification_ts" type="xs:dateTime" minOccurs="0" />
      <xs:element name="certificate_external_id" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ExperienceType">
    <xs:all>
      <xs:element name="company" type="xs:string" minOccurs="0" />
      <xs:element name="title" type="xs:string" minOccurs="0" />
      <xs:element name="detailed_title" type="xs:string" minOccurs="0" />
      <xs:element name="description" type="xs:string" minOccurs="0" />
      <xs:element name="location" type="xs:string" minOccurs="0" />
      <xs:element name="is_current" type="xs:boolean" minOccurs="0" />
      <xs:element name="start_date" type="xs:date" minOccurs="0" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="is_internal" type="xs:boolean" minOccurs="0" />
      <xs:element name="department" type="xs:string" minOccurs="0" />
      <xs:element name="industry" type="xs:string" minOccurs="0" />
      <xs:element name="experience_key" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ProjectType">
    <xs:all>
      <xs:element name="project_id" type="xs:string" minOccurs="0" />
      <xs:element name="system_id" type="xs:string" minOccurs="0" />
      <xs:element name="company" type="xs:string" minOccurs="0" />
      <xs:element name="title" type="xs:string" minOccurs="0" />
      <xs:element name="description" type="xs:string" minOccurs="0" />
      <xs:element name="start_date" type="xs:date" minOccurs="0" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="links_list" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="link"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contributors_list" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contributor"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="skills_list" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="skill"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="custom_info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="LocationType">
      <xs:all>
        <xs:element name="address1" type="xs:string" minOccurs="0" />
        <xs:element name="address2" type="xs:string" minOccurs="0" />
        <xs:element name="city" type="xs:string" minOccurs="0" />
        <xs:element name="state" type="xs:string" minOccurs="0" />
        <xs:element name="country" type="xs:string" minOccurs="0" />
        <xs:element name="postal_code" type="xs:string" minOccurs="0" />
      </xs:all>
  </xs:complexType>

  <xs:complexType name="AttachmentType">
     <xs:all>
       <xs:element name="attachment_type" minOccurs="0" >
        <xs:simpleType>
           <xs:restriction base="xs:string"><xs:pattern value="resume|photo|others"/>
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="attachment_id" type="xs:string" minOccurs="0" />
       <xs:element name="url" type="xs:string" minOccurs="0" />
       <xs:element name="content" type="xs:string" minOccurs="0" />
       <xs:element name="content_is_base64_encoded" type="xs:boolean" minOccurs="0" />
       <xs:element name="filepath" type="xs:string" minOccurs="0" />
       <xs:element name="s3_filepath" type="xs:string" minOccurs="0" />
       <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />
       <xs:element name="application_metadata_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="application_metadata" type="AttachmentApplicationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
     </xs:all>
  </xs:complexType>

  <xs:complexType name="IntakeFormAttachmentType">
     <xs:all>
       <xs:element name="variable_id" type="xs:string"/>
       <xs:element name="content" type="xs:string" minOccurs="0" />
       <xs:element name="filename" type="xs:string" />
       <xs:element name="s3_file_path" type="xs:string" minOccurs="0" />
     </xs:all>
  </xs:complexType>

  <xs:complexType name="AttachmentApplicationMetadataType">
    <xs:all>
      <xs:element name="application_id" type="xs:string" minOccurs="0" />
      <xs:element name="job_id" type="xs:string" minOccurs="0" />
      <xs:element name="job_title" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="NoteType">
     <xs:all>
       <xs:element name="creator" type="xs:string" minOccurs="0" />
       <xs:element name="creation_ts" type="xs:dateTime" minOccurs="0" />
       <xs:element name="subject" type="xs:string" minOccurs="0" />
       <xs:element name="body" type="xs:string" minOccurs="0" />
       <xs:element name="to" type="xs:string" minOccurs="0" />
       <xs:element name="sender" type="xs:string" minOccurs="0" />
       <xs:element name="cc" type="xs:string" minOccurs="0" />
       <xs:element name="visibility" type="xs:string" minOccurs="0" />
       <xs:element name="note_type">
         <xs:simpleType>
           <xs:restriction base="xs:string"><xs:pattern value="email|note|other"/>
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
     </xs:all>
  </xs:complexType>

  <xs:simpleType name="GenderType">
     <xs:restriction base="xs:string"><xs:pattern value="male|female|n/a|opt out|decline to self identify"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RatingType">
     <xs:restriction base="xs:string"><xs:pattern value="yes|no|strong_yes|strong_no|mixed"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PostedForType">
    <xs:restriction base="xs:string"><xs:pattern value="external|internal|all"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="UserType">
    <xs:all>
      <xs:element name="name" type="xs:string" minOccurs="0" />
      <xs:element name="email" type="xs:string" minOccurs="0" />
      <xs:element name="ats_roles_list" minOccurs="0">
          <xs:complexType>
              <xs:sequence>
                  <xs:element name="role"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
          </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>


  <xs:complexType name="AttributeType">
    <xs:all>
      <xs:element name="question" type="xs:string" />
      <xs:element name="answer" type="xs:string" />
      <xs:element name="note" type="xs:string" minOccurs="0" />
      <xs:element name="rating" type="RatingType" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="StageType">
    <xs:all>
      <!-- One of these three elements need to be present stage/workflow_stage/workflow_sub_stage.
           The validation is done later in code. -->
      <!-- "stage" field is marked for deprecation. We should use "workflow_stage" and "workflow_sub_stage" going forward.-->
      <xs:element name="stage" type="xs:string" minOccurs="0"/>
      <xs:element name="workflow_stage" type="xs:string" minOccurs="0"/>
      <xs:element name="workflow_sub_stage" type="xs:string" minOccurs="0"/>
      <xs:element name="stage_ts" type="xs:dateTime" />
      <xs:element name="reason" type="xs:string" minOccurs="0"/>
      <xs:element name="user"  type="UserType" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="JobType">
    <xs:all>
      <xs:element name="job_id" type="xs:string" />
      <xs:element name="job_name" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SourceType">
    <xs:all>
      <xs:element name="source_type" type="xs:string" minOccurs="0" />
      <xs:element name="source_name" type="xs:string" minOccurs="0" />
      <xs:element name="source" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PayType">
    <xs:all>
      <xs:element name="amount" type="xs:float" minOccurs="0" />
      <xs:element name="currency" type="xs:string" minOccurs="0" />
      <xs:element name="frequency" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ScorecardType">
    <xs:all>
      <xs:element name="interview_name"  type="xs:string" minOccurs="0" />
      <xs:element name="interviewed_at"  type="xs:dateTime" minOccurs="0" />
      <xs:element name="description"  type="xs:string" minOccurs="0" />
      <xs:element name="submitted_by"  type="UserType" minOccurs="0" />
      <xs:element name="submitted_at"  type="xs:dateTime" minOccurs="0" />
      <xs:element name="overall_rating" type="RatingType" minOccurs="0" />
      <xs:element name="attribute_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attribute"  type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- QuestionAnswerType is used only in Candidate Object -->
  <xs:complexType name="QuestionAnswerType">
    <xs:all>
      <xs:element name="question_id" type="xs:string" minOccurs="0" />
      <xs:element name="question" type="xs:string" minOccurs="0" />
      <xs:element name="answer" type="xs:string" minOccurs="0" />
      <xs:element name="explanation" type="xs:string" minOccurs="0" />
      <xs:element name="question_type">
        <xs:simpleType>
          <xs:restriction base="xs:string"><xs:pattern value="text|choice|date|multi_value|numeric"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="choices" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <!-- QuestionType is used only in Position Object -->
  <xs:complexType name="ChoiceType">
      <xs:all>
        <xs:element name="value" type="xs:string"/>
        <xs:element name="label" type="xs:string"/>
      </xs:all>
  </xs:complexType>

  <!-- QuestionType is used only in Position Object -->
  <xs:complexType name="QuestionType">
    <xs:all>
      <xs:element name="question_id" type="xs:string" minOccurs="1" />
      <xs:element name="question_text" type="xs:string" minOccurs="0" />
      <xs:element name="help" type="xs:string" minOccurs="0" />
      <xs:element name="is_required" type="xs:boolean" minOccurs="0" />
      <xs:element name="question_type">
        <xs:simpleType>
          <xs:restriction base="xs:string"><xs:pattern value="text|choice|date|multi_value|numeric"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="choice_list" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="choice"  type="ChoiceType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="choice_locale"  type="QuestionLabelType" minOccurs="0" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="question_locale" type="QuestionLabelType" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="QuestionnaireType">
    <xs:all>
      <xs:element name="questionnaire_id" type="xs:string"/>
      <xs:element name="question_dependency_list">
        <xs:complexType>
          <xs:sequence>
              <xs:element name="question_dependency"  type="QuestionDependencyType" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="QuestionDependencyType">
    <xs:all>
      <xs:element name="question_id" type="xs:string"/>
      <xs:element name="question_source" minOccurs="0" type="xs:string"/>
      <xs:element name="choice_value" type="xs:string"/>
      <xs:element name="child_question_id_list">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- LangMappingType is used only in Position Object -->
  <xs:complexType name="LangMappingType">
      <xs:all>
        <xs:element name="locale" type="xs:string"/>
        <xs:element name="label" type="xs:string"/>
      </xs:all>
  </xs:complexType>

  <!-- QuestionLabelType is used only in Position Object -->
  <xs:complexType name="QuestionLabelType">
      <xs:all>
        <xs:element name="value" type="xs:string"/>
        <xs:element name="label" type="xs:string"/>
        <xs:element name="lang_mapping_list" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lang_mapping"  type="LangMappingType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
  </xs:complexType>

  <xs:complexType name="CustomFieldType">
    <xs:all>
      <xs:element name="field_name" type="xs:string" />
      <xs:element name="data_type">
        <xs:simpleType>
          <xs:restriction base="xs:string"><xs:pattern value="string|boolean|date|dateTime|int|float"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="field_value" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CustomFieldNativeListType">
    <xs:all>
      <xs:element name="field_name" type="xs:string" />
      <xs:element name="data_type">
        <xs:simpleType>
          <xs:restriction base="xs:string"><xs:pattern value="string|boolean|date|dateTime|int|float"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="data_list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field_value" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CustomFieldCompositeType">
    <xs:all>
      <xs:element name="object_name" type="xs:string" />
      <xs:element name="native_field_list" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="native_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="multi_value_field_list" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field_value_list" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CompositeObjectType">
    <xs:all>
      <xs:element name="native_field_list" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="native_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="multi_value_field_list" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field_value_list" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CustomCompositeListType">
    <xs:all>
      <xs:element name="object_list_name" type="xs:string" />
      <xs:element name="data_list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="composite_object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="CompositeObjectArrayType">
    <xs:all>
      <xs:element name="object_list_name" type="xs:string" />
      <xs:element name="data_list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="composite_object" type="CompositeObjectType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BadgeType">
    <xs:all>
      <xs:element name="user_id" type="xs:string" />
      <xs:element name="badge_id" type="xs:string" />
      <xs:element name="title" type="xs:string" />
      <xs:element name="last_modified_ts" type="xs:dateTime" />
      <xs:element name="creator" type="xs:string" minOccurs="0"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="photo_url" type="xs:string" minOccurs="0"/>
      <xs:element name="photo_content" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="content" type="xs:string" minOccurs="0" />
            <xs:element name="content_is_base64_encoded" type="xs:boolean" minOccurs="0" />
            <xs:element name="filepath" type="xs:string" minOccurs="0" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CourseAttendanceType">
    <xs:all>
      <xs:element name="title" type="xs:string" />
      <xs:element name="url" type="xs:string" minOccurs="0" />
      <xs:element name="type" type="xs:string" minOccurs="0" />
      <xs:element name="lms_course_id" type="xs:string" minOccurs="0" />
      <xs:element name="description" type="xs:string" minOccurs="0" />
      <xs:element name="provider" type="xs:string" minOccurs="0" />
      <xs:element name="is_internal" type="xs:boolean" minOccurs="0" />
      <xs:element name="language" type="xs:string" minOccurs="0" />
      <xs:element name="difficulty" type="xs:string" minOccurs="0" />
      <xs:element name="start_date" type="xs:date" minOccurs="0" />
      <xs:element name="completed_date" type="xs:date" minOccurs="0" />
      <xs:element name="status" type="xs:string" minOccurs="0" />
      <xs:element name="points_earned" type="xs:decimal" minOccurs="0" />
      <xs:element name="verified" type="xs:boolean" minOccurs="0" />
      <xs:element name="medium" type="xs:string" minOccurs="0" />
      <xs:element name="mandatory" type="xs:string" minOccurs="0" />
      <xs:element name="assigned_by" type="xs:string" minOccurs="0" />
      <xs:element name="percentage_completion" type="xs:float" minOccurs="0" />
      <xs:element name="duration_hours" type="xs:float" minOccurs="0" />
      <xs:element name="due_ts" type="xs:decimal" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="JobPostType">
    <xs:all>
      <xs:element name="posting_title" type="xs:string" />
      <xs:element name="posting_id" type="xs:string" minOccurs="0"/>
      <xs:element name="posting_status" type="xs:string" minOccurs="0"/>
      <xs:element name="posting_url" type="xs:string" minOccurs="0"/>
      <xs:element name="posted_for" default="all">
          <xs:simpleType>
              <xs:restriction base="xs:string"><xs:pattern value="external|internal|all"/>
              </xs:restriction>
          </xs:simpleType>
      </xs:element>
      <xs:element name="job_description" type="xs:string" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" minOccurs="0"/>
      <xs:element name="is_primary_post" type="xs:boolean" minOccurs="0"/>
      <xs:element name="published_ts" type="xs:dateTime" />
      <xs:element name="expiration_ts" type="xs:dateTime" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ApplicationType">
    <xs:all>
      <xs:element name="candidate_id"  type="xs:string" />
      <xs:element name="application_id"  type="xs:string" />
      <xs:element name="application_ts"  type="xs:dateTime" minOccurs="0" />
      <xs:element name="last_modified_ts"  type="xs:dateTime" minOccurs="0" />
      <xs:element name="is_prospect"  type="xs:boolean" minOccurs="0" />
      <xs:element name="job_system_id" type="xs:string" minOccurs="0" />
      <xs:element name="system_id" type="xs:string" minOccurs="0" />
      <xs:element name="job_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="job"  type="JobType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="past_stage_list" minOccurs="0" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="past_stage"  type="StageType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="current_stage" type="StageType" minOccurs="0" />
      <xs:element name="status" default="active" minOccurs="0">
        <xs:simpleType>
           <xs:restriction base="xs:string"><xs:pattern value="active|hired|rejected|withdrawn"/>
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
      <xs:element name="hired_ts"  type="xs:dateTime" minOccurs="0" />
      <xs:element name="rejected_ts"  type="xs:dateTime" minOccurs="0" />
      <xs:element name="source"  type="SourceType" minOccurs="0" />
      <xs:element name="rejection_reason"  type="xs:string" minOccurs="0" />
      <xs:element name="gender"  type="GenderType" minOccurs="0" />
      <xs:element name="race"  type="xs:string" minOccurs="0" />
      <xs:element name="visa_status" type="xs:string" minOccurs="0"/>
      <xs:element name="visa_status_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="visa_status"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="race_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="race"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="veteran_status"  type="xs:boolean" minOccurs="0" />
      <xs:element name="disability_status"  type="xs:boolean" minOccurs="0" />
      <xs:element name="note"  type="NoteType" minOccurs="0" />
      <xs:element name="scorecard_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="scorecard"  type="ScorecardType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="question_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="question"  type="QuestionAnswerType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="custom_info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="custom_multi_value_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="custom_objects_list" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="object_list" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="list_of_objects" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="delete" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="ApplicationDeleteType">
    <xs:all>
      <xs:element name="candidate_id" type="xs:string"/>
      <xs:element name="application_id" type="xs:string"/>
    </xs:all>
    <xs:attribute name="delete" fixed="true"/>
  </xs:complexType>

  <xs:simpleType name="ContactConsentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="applied_only"/>
      <xs:enumeration value="all"/>
      <xs:enumeration value="country_only"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PositionActivityType">
    <xs:all>
      <xs:element name="activity_ts" type="xs:dateTime"/>
      <xs:element name="activity_type" type="xs:string"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element name="change_log_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="change_log" type="PositionActivityChangeLogType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PositionActivityChangeLogType">
    <xs:all>
      <xs:element name="field_name" type="xs:string"/>
      <xs:element name="prev_value" type="xs:string" minOccurs="0"/>
      <xs:element name="new_value" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="UserGroupType">
    <xs:all>
      <xs:element name="user_group_id" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="RmUserGroupType">
    <xs:all>
      <xs:element name="user_group_id" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EFUserGroupType">
    <xs:all>
      <xs:element name="user_group_name" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="UserCountryType">
    <xs:all>
      <xs:element name="user_country_id" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="PositionProjectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="marketplace_project"/>
      <xs:enumeration value="profile_project"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DefaultAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="recruiter"/>
      <xs:enumeration value="candidate"/>
      <xs:enumeration value="employee"/>
      <xs:enumeration value="career_supporter"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SkillListType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="skill" type="xs:string" />
        <xs:element name="skill_detail" type="SkillDetailType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SkillDetailType">
    <xs:all>
      <xs:element name="skill" type="xs:string" maxOccurs="1" minOccurs="1"/>
      <xs:element name="data_source" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="proficiency" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="skill_group_list" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="skill_group" type="SkillGroupType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SkillGroupType">
    <xs:all>
      <xs:element name="skill_group_name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="proficiency" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:all>
  </xs:complexType>

  <xs:complexType name="TagType">
    <xs:all>
      <xs:element name="tag" type="xs:string" />
      <xs:element name="tag_type">
        <xs:simpleType>
          <xs:restriction base="xs:string"><xs:pattern value="user|system"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tag_subtype" type="xs:string" />
      <xs:element name="job_id" type="xs:string" minOccurs="0" />
      <xs:element name="creator" type="xs:string" minOccurs="0" />
      <xs:element name="creation_ts" type="xs:dateTime" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EmployeeCriticalityType">
    <xs:all>
      <!-- string value like high/medium/low or similar based on customer's taxonomy -->
      <xs:element name="risk_of_loss" type="xs:string" minOccurs="0" />
      <!-- string value like high/medium/low or similar based on customer's taxonomy -->
      <xs:element name="impact_of_loss" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="IncumbentType">
    <xs:all>
      <xs:element name="user_id" type="xs:string" minOccurs="1" />
      <xs:element name="full_name" type="xs:string" minOccurs="0" />
      <xs:element name="email" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SuccessorType">
    <xs:all>
      <xs:element name="user_id" type="xs:string" minOccurs="1" />
      <xs:element name="full_name" type="xs:string" minOccurs="1" />
      <xs:element name="email" type="xs:string" minOccurs="1" />
      <!-- string value like ready now/ready soon or similar based on customer's taxonomy -->
      <xs:element name="readiness" type="xs:string" minOccurs="0" />
      <xs:element name="rank" type="xs:integer" minOccurs="0" />
      <xs:element name="comments" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SuccessionPlanType">
    <xs:all>
      <xs:element name="plan_name" type="xs:string" minOccurs="0" />
      <xs:element name="plan_date" type="xs:string" minOccurs="0" />
      <xs:element name="comments" type="xs:string" minOccurs="0" />
      <xs:element name="successor_list" minOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="successor" type="SuccessorType" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="MobilityType">
    <xs:all>
      <!-- employee's flexibility to relocate -->
      <xs:element name="relocation" type="xs:string" minOccurs="1" />
      <!-- list of locations where employee is open to relocate -->
      <xs:element name="relocation_list" minOccurs="0" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="location"  type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- employee's flexibility towards work related travel -->
      <xs:element name="travel" type="xs:string" minOccurs="1" />
      <xs:element name="travel_percentage_min" type="xs:float" minOccurs="0" />
      <xs:element name="travel_percentage_max" type="xs:float" minOccurs="0" />
      <xs:element name="comments" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="LanguageProficiencyType">
    <xs:all>
      <xs:element name="language" type="xs:string" minOccurs="1" />
      <xs:element name="overall" type="xs:string" minOccurs="0" />
      <xs:element name="read" type="xs:string" minOccurs="0" />
      <xs:element name="write" type="xs:string" minOccurs="0" />
      <xs:element name="speak" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PerformanceRatingType">
    <xs:all>
      <xs:element name="period_start_date" type="xs:date" minOccurs="1" />
      <xs:element name="period_end_date" type="xs:date" minOccurs="1" />
      <xs:element name="rating" type="xs:float" minOccurs="0" />
      <xs:element name="rating_label" type="xs:string" minOccurs="1" />
      <xs:element name="review_type" type="xs:string" minOccurs="0" />
      <xs:element name="review_comments" type="xs:string" minOccurs="0" />
      <xs:element name="reviewed_by" type="UserType" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="DemandHistoryType">
    <xs:all>
      <xs:element name="demand_id" type="NoSpaceString" minOccurs="1" />
      <xs:element name="personal_description" type="xs:string" minOccurs="0" />
      <xs:element name="personal_skills_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="skill" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="WeeklyHoursDataType">
    <xs:all>
      <xs:element name="monday" type="xs:float" minOccurs="0" />
      <xs:element name="tuesday" type="xs:float" minOccurs="0" />
      <xs:element name="wednesday" type="xs:float" minOccurs="0" />
      <xs:element name="thursday" type="xs:float" minOccurs="0" />
      <xs:element name="friday" type="xs:float" minOccurs="0" />
      <xs:element name="saturday" type="xs:float" minOccurs="0" />
      <xs:element name="sunday" type="xs:float" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="WeeklyHoursTimelineType">
    <xs:all>
      <xs:element name="start_date" type="xs:date" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="create_ts" type="xs:dateTime" />
      <xs:element name="value" type="WeeklyHoursDataType" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ResourcingProfileDataType">
    <xs:all>
      <xs:element name="employee_region" type="NoSpaceString" minOccurs="0" />
      <xs:element name="demand_history_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="demand_history" type="DemandHistoryType" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="NoSpaceString">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^\s]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OpeningsType">
    <xs:all>
      <xs:element name="number_of_openings" type="xs:integer" minOccurs="1" />
      <xs:element name="number_of_openings_filled" type="xs:integer" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="CapacityFormatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hours" />
      <xs:enumeration value="percentage" />
      <xs:enumeration value="fraction" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CapacityTimeGranularityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="daily" />
      <xs:enumeration value="weekly" />
      <xs:enumeration value="monthly" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CapacityType">
    <xs:all>
      <xs:element name="capacity" type="xs:float" />
      <xs:element name="unit" type="CapacityFormatType" />
      <xs:element name="time_granularity" type="CapacityTimeGranularityType" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="EmployeeBookingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="demand" />
      <xs:enumeration value="leave" />
      <xs:enumeration value="optional_holiday" />
      <xs:enumeration value="blocker" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmployeeBookingStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending" />
      <xs:enumeration value="approved" />
      <xs:enumeration value="rejected" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="EmployeeBookingDataType">
    <xs:all>
      <xs:element name="booking_id" type="NoSpaceString" />
      <xs:element name="employee_id" type="NoSpaceString" minOccurs="0" />
      <xs:element name="start_date" type="xs:date" minOccurs="0" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="booked_capacity" type="CapacityType" minOccurs="0" />
      <xs:element name="booking_type" type="EmployeeBookingType" minOccurs="0" />
      <xs:element name="demand_id" type="NoSpaceString" minOccurs="0" />
      <xs:element name="booking_status" type="EmployeeBookingStatusType" minOccurs="0" />
      <xs:element name="creation_ts" type="xs:dateTime" minOccurs="0" />
      <xs:element name="creator_email" type="NoSpaceString" minOccurs="0" />
      <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />
      <xs:element name="last_modifier_email" type="NoSpaceString" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="EmployeeTimesheetEntryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="demand" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmployeeTimesheetStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending" />
      <xs:enumeration value="approved" />
      <xs:enumeration value="rejected" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="EmployeeTimesheetEntryDataType">
    <xs:all>
      <xs:element name="entry_id" type="NoSpaceString" />
      <xs:element name="employee_id" type="NoSpaceString" />
      <xs:element name="entry_type" type="EmployeeTimesheetEntryType" />
      <xs:element name="associated_entity_id" type="NoSpaceString" minOccurs="0" />
      <xs:element name="entry_date" type="xs:date" />
      <xs:element name="logged_hours" type="xs:float" />
      <xs:element name="status" type="EmployeeTimesheetStatusType" />
      <xs:element name="description" type="xs:string" minOccurs="0" />
      <xs:element name="last_modified_ts" type="xs:dateTime" />
      <xs:element name="last_modified_by" type="NoSpaceString" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="HolidayType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="public_holiday" />
      <xs:enumeration value="optional_holiday" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TemporalFieldValueType">
    <xs:all>
      <xs:element name="start_date" type="xs:date" />
      <xs:element name="end_date" type="xs:date" minOccurs="0" />
      <xs:element name="create_ts" type="xs:dateTime" />
      <xs:element name="value" type="xs:string" />
      <xs:element name="value_type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="boolean" />
            <xs:enumeration value="date" />
            <xs:enumeration value="dateTime" />
            <xs:enumeration value="int" />
            <xs:enumeration value="float" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TemporalFieldType">
    <xs:all>
      <xs:element name="field_name" type="NoSpaceString" />
      <xs:element name="value_timeline_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value_timeline" type="TemporalFieldValueType" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="OrgUnitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="program" />
      <xs:enumeration value="project" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OrgUnit">
    <xs:all>
      <xs:element name="external_id" type="NoSpaceString"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="OrgUnitStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active" />
      <xs:enumeration value="archived" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ParentOrgUnitType">
    <xs:all>
      <xs:element name="external_id" type="NoSpaceString" />
      <xs:element name="type" type="OrgUnitType" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="OrgUnitAttributeType">
    <xs:all>
      <xs:element name="attribute_id" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="FoundationDataUserType">
    <xs:all>
      <xs:element name="role" type="xs:string" />
      <xs:element name="email" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EntityTagType">
    <xs:all>
      <xs:element name="name" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InterviewerTagType">
    <xs:all>
      <xs:element name="name" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="IntakeFormTemplateType">
    <xs:all>
      <xs:element name="id" type="xs:nonNegativeInteger" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PayGradeType">
    <xs:all>
      <xs:element name="name" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="RoleAssociationSettingsForPositionType">
    <xs:all>
      <xs:element name="role_id" type="NoSpaceString" minOccurs="1"/>
      <xs:element name="role_association_mode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="copy_role_id_only" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>

</xs:schema>
