docs/schemas/ef_xml_schema/ef_demand_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_demand_common.xsd" />

  <xs:element name="EF_Demand_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Demand_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Demand_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Demand_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Demand_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="DemandUniqueKey">
      <xs:selector xpath="EF_Demand_Ingest|EF_Demand_Update|EF_Demand_Upsert|EF_Demand_Delete" />
      <xs:field xpath="job_id" />
    </xs:unique>
  </xs:element>
</xs:schema>
