docs/schemas/ef_xml_schema/ef_employee_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="employee_id"  type="NoSpaceString" />
            <xs:element name="group_id" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="user_id"  type="NoSpaceString" minOccurs="0" />
            <xs:element name="first_name"  type="xs:string" />
            <xs:element name="last_name"  type="xs:string" />
            <xs:element name="preferred_first_name" type="xs:string" minOccurs="0" />
            <xs:element name="preferred_last_name" type="xs:string" minOccurs="0" />
            <xs:element name="last_activity_ts" type="xs:dateTime" />
            <xs:element name="email_list">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="email"  type="NoSpaceString" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="personal_email_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="email"  type="NoSpaceString" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="phone_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="phone"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="detailed_title" type="xs:string" minOccurs="0"/>
            <xs:element name="role" type="xs:string" minOccurs="0"/>
            <xs:element name="job_code" type="xs:string" minOccurs="0"/>
            <xs:element name="company_name" type="xs:string" minOccurs="0"/>
            <xs:element name="level" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="xs:string" minOccurs="0"/>
            <xs:element name="location_country" type="xs:string" minOccurs="0"/>
            <xs:element name="employee_type" type="xs:string" minOccurs="0"/>
            <xs:element name="external_job_id" type="xs:string" minOccurs="0"/>
            <xs:element name="hiring_date" type="xs:date" minOccurs="0"/>
            <xs:element name="role_change_date" type="xs:date" minOccurs="0"/>
            <xs:element name="manager_userid" type="xs:string" minOccurs="0"/>
            <xs:element name="manager_email" type="xs:string" minOccurs="0"/>
            <xs:element name="manager_fullname" type="xs:string" minOccurs="0"/>
            <xs:element name="business_unit" type="xs:string" minOccurs="0"/>
            <xs:element name="division" type="xs:string" minOccurs="0"/>
            <xs:element name="external_variant_id" type="xs:string" minOccurs="0"/>
            <xs:element name="termination_date" minOccurs="0">
            <xs:simpleType>
                <xs:union memberTypes="xs:date">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:minLength value="0" />
                    <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            </xs:element>
            <xs:element name="badge_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="badge"  type="BadgeType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="base_pay" type="PayType" minOccurs="0" />
            <xs:element name="bonus" type="PayType" minOccurs="0" />
            <xs:element name="custom_info" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_objects_list" minOccurs="0">
            <xs:complexType>
                <xs:all>
                <xs:element name="object_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="list_of_objects" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                </xs:all>
            </xs:complexType>
            </xs:element>
            <xs:element name="candidate_data" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                    <xs:element name="candidate_id" type="NoSpaceString" minOccurs="0"/>
                    <xs:element name="location" type="xs:string" minOccurs="0"/>
                    <xs:element name="address_details" type="LocationType" minOccurs="0"/>
                    <xs:element name="date_of_birth" type="xs:date" minOccurs="0"/>
                    <xs:element name="gender" type="GenderType" minOccurs="0" />
                    <xs:element name="race_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="race"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="summary" type="xs:string" minOccurs="0"/>
                    <xs:element name="education_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="education" type="EducationType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="certification_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="certification" type="CertificationType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="url_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="course_attendance_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course_attendance" type="CourseAttendanceType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="custom_info" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="custom_multi_value_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="custom_objects_list" minOccurs="0">
                        <xs:complexType>
                        <xs:all>
                            <xs:element name="object_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="list_of_objects" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                        </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="experience_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="experience"  type="ExperienceType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="project_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="project"  type="ProjectType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="attachment_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attachment"  type="AttachmentType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="skills_list" type="SkillListType" minOccurs="0"/>
                    <xs:element name="application_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="application"  type="ApplicationType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="tags_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tag"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="detail_tags_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tag_data"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="display_tags_list" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tag"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="last_review_rating"  type="xs:string" minOccurs="0"/>
            <xs:element name="eligible_for_transfer"  type="xs:boolean" minOccurs="0"/>
            <xs:element name="employee_criticality" type="EmployeeCriticalityType" minOccurs="0" />
            <xs:element name="succession_plan" type="SuccessionPlanType" minOccurs="0" />
            <xs:element name="mobility" type="MobilityType" minOccurs="0" />
            <xs:element name="language_proficiency_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="language_proficiency" type="LanguageProficiencyType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="IngestLanguageUniqueKey">
                    <xs:selector xpath="IngestOp/language_proficiency" />
                    <xs:field xpath="language" />
                </xs:unique>
            </xs:element>
            <xs:element name="performance_ratings_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="performance_rating" type="PerformanceRatingType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="IngestPerformanceRatingUniqueKey">
                    <xs:selector xpath="IngestOp/performance_rating" />
                    <xs:field xpath="period_start_date" />
                    <xs:field xpath="period_end_date" />
                    <xs:field xpath="review_type" />
                    <xs:field xpath="reviewed_by/email" />
                </xs:unique>
            </xs:element>
            <xs:element name="position_criticality_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="position_criticality"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resourcing_profile_data" type="ResourcingProfileDataType" minOccurs="0" />
            <xs:element name="contracted_hours_timeline_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contracted_hours_timeline" type="WeeklyHoursTimelineType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="working_hours_timeline_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="working_hours_timeline" type="WeeklyHoursTimelineType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="employee_bookings_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee_booking" type="EmployeeBookingDataType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="EmployeeBookingUniqueKey">
                    <xs:selector xpath="IngestOp/employee_booking" />
                    <xs:field xpath="booking_id" />
                </xs:unique>
            </xs:element>
            <xs:element name="employee_timesheet_entries_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee_timesheet_entry" type="EmployeeTimesheetEntryDataType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="IngestEmployeeTimesheetEntryUniqueKey">
                    <xs:selector xpath="IngestOp/employee_timesheet_entry" />
                    <xs:field xpath="entry_id" />
                </xs:unique>
            </xs:element>
            <xs:element name="temporal_fields_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="temporal_field" type="TemporalFieldType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="IngestTemporalFieldUniqueKey">
                    <xs:selector xpath="IngestOp/temporal_field" />
                    <xs:field xpath="field_name" />
                </xs:unique>
            </xs:element>
            <xs:element name="rm_user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="RmUserGroupType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="specialised_skills_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="skill" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="additional_manager_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="additional_manager" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="type" type="xs:string"/>
                                    <xs:element name="email" type="xs:string"/>
                                    <xs:element name="employee_id" type="NoSpaceString"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="IngestAdditionalManagerUniqueKey">
                    <xs:selector xpath="IngestOp/additional_manager" />
                    <xs:field xpath="type" />
                </xs:unique>
            </xs:element>
            <xs:element name="org_unit_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="org_unit" type="OrgUnit" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="employee_id"  type="NoSpaceString" minOccurs="0"/>
            <xs:element name="group_id" type="xs:string" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="user_id"  type="xs:string" minOccurs="0" />
            <xs:element name="first_name"  type="xs:string" minOccurs="0"/>
            <xs:element name="last_name"  type="xs:string" minOccurs="0" />
            <xs:element name="preferred_first_name" type="xs:string" minOccurs="0" />
            <xs:element name="preferred_last_name" type="xs:string" minOccurs="0" />
            <xs:element name="last_activity_ts" type="xs:dateTime" minOccurs="0" />
            <xs:element name="email_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="email"  type="NoSpaceString" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="personal_email_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="email"  type="NoSpaceString" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="phone_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="phone"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="detailed_title" type="xs:string" minOccurs="0"/>
            <xs:element name="role" type="xs:string" minOccurs="0"/>
            <xs:element name="job_code" type="xs:string" minOccurs="0"/>
            <xs:element name="company_name" type="xs:string" minOccurs="0"/>
            <xs:element name="level" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="xs:string" minOccurs="0"/>
            <xs:element name="location_country" type="xs:string" minOccurs="0"/>
            <xs:element name="employee_type" type="xs:string" minOccurs="0"/>
            <xs:element name="external_job_id" type="xs:string" minOccurs="0"/>
            <xs:element name="hiring_date" type="xs:date" minOccurs="0"/>
            <xs:element name="role_change_date" type="xs:date" minOccurs="0"/>
            <xs:element name="manager_userid" type="xs:string" minOccurs="0"/>
            <xs:element name="manager_email" type="xs:string" minOccurs="0"/>
            <xs:element name="manager_fullname" type="xs:string" minOccurs="0"/>
            <xs:element name="business_unit" type="xs:string" minOccurs="0"/>
            <xs:element name="division" type="xs:string" minOccurs="0"/>
            <xs:element name="external_variant_id" type="xs:string" minOccurs="0"/>
            <xs:element name="termination_date" minOccurs="0">
            <xs:simpleType>
                <xs:union memberTypes="xs:date">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:minLength value="0" />
                    <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            </xs:element>
            <xs:element name="badge_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="badge"  type="BadgeType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="base_pay" type="PayType" minOccurs="0" />
            <xs:element name="bonus" type="PayType" minOccurs="0" />
            <xs:element name="custom_info" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_objects_list" minOccurs="0">
            <xs:complexType>
                <xs:all>
                <xs:element name="object_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="list_of_objects" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                </xs:all>
            </xs:complexType>
            </xs:element>
            <xs:element name="candidate_data" minOccurs="0">
            <xs:complexType>
                <xs:all>
                <xs:element name="candidate_id"  type="NoSpaceString" minOccurs="0" />
                <xs:element name="location" type="xs:string" minOccurs="0"/>
                <xs:element name="address_details" type="LocationType" minOccurs="0"/>
                <xs:element name="date_of_birth" type="xs:date" minOccurs="0"/>
                <xs:element name="gender" type="GenderType" minOccurs="0" />
                <xs:element name="race_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="race"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="summary" type="xs:string" minOccurs="0"/>
                <xs:element name="education_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="education" type="EducationType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="certification_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="certification" type="CertificationType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="url_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="experience_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="experience"  type="ExperienceType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="project_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="project"  type="ProjectType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="course_attendance_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="course_attendance" type="CourseAttendanceType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="custom_info" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="custom_multi_value_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="custom_objects_list" minOccurs="0">
                    <xs:complexType>
                    <xs:all>
                        <xs:element name="object_list" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                            <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                        </xs:element>
                        <xs:element name="list_of_objects" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                            <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                        </xs:element>
                    </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attachment_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attachment"  type="AttachmentType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="skills_list" type="SkillListType" minOccurs="0"/>
                <xs:element name="application_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="application"  type="ApplicationType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tags_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="detail_tags_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag_data"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="display_tags_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                </xs:all>
            </xs:complexType>
            </xs:element>
            <xs:element name="last_review_rating"  type="xs:string" minOccurs="0"/>
            <xs:element name="eligible_for_transfer"  type="xs:boolean" minOccurs="0"/>
            <xs:element name="employee_criticality" type="EmployeeCriticalityType" minOccurs="0" />
            <xs:element name="succession_plan" type="SuccessionPlanType" minOccurs="0" />
            <xs:element name="mobility" type="MobilityType" minOccurs="0" />
            <xs:element name="language_proficiency_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="language_proficiency" type="LanguageProficiencyType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="UpdateLanguageUniqueKey">
                    <xs:selector xpath="UpdateOp/language_proficiency" />
                    <xs:field xpath="language" />
                </xs:unique>
            </xs:element>
            <xs:element name="performance_ratings_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="performance_rating" type="PerformanceRatingType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="UpdatePerformanceRatingUniqueKey">
                    <xs:selector xpath="UpdateOp/performance_rating" />
                    <xs:field xpath="period_start_date" />
                    <xs:field xpath="period_end_date" />
                    <xs:field xpath="review_type" />
                    <xs:field xpath="reviewed_by/email" />
                </xs:unique>
            </xs:element>
            <xs:element name="position_criticality_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="position_criticality"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resourcing_profile_data" type="ResourcingProfileDataType" minOccurs="0" />
            <xs:element name="contracted_hours_timeline_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contracted_hours_timeline" type="WeeklyHoursTimelineType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="working_hours_timeline_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="working_hours_timeline" type="WeeklyHoursTimelineType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="employee_bookings_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee_booking" type="EmployeeBookingDataType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="UpdateEmployeeBookingUniqueKey">
                    <xs:selector xpath="UpdateOp/employee_booking" />
                    <xs:field xpath="booking_id" />
                </xs:unique>
            </xs:element>
            <xs:element name="employee_timesheet_entries_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee_timesheet_entry" type="EmployeeTimesheetEntryDataType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="UpdateEmployeeTimesheetEntryUniqueKey">
                    <xs:selector xpath="UpdateOp/employee_timesheet_entry" />
                    <xs:field xpath="entry_id" />
                </xs:unique>
            </xs:element>
            <xs:element name="temporal_fields_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="temporal_field" type="TemporalFieldType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="UpdateTemporalFieldUniqueKey">
                    <xs:selector xpath="UpdateOp/temporal_field" />
                    <xs:field xpath="field_name" />
                </xs:unique>
            </xs:element>
            <xs:element name="rm_user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="RmUserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="specialised_skills_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="skill" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="additional_manager_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="additional_manager" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="type" type="xs:string"/>
                                    <xs:element name="email" type="xs:string"/>
                                    <xs:element name="employee_id" type="NoSpaceString"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="UpdateAdditionalManagerUniqueKey">
                    <xs:selector xpath="UpdateOp/additional_manager" />
                    <xs:field xpath="type" />
                </xs:unique>
            </xs:element>
            <xs:element name="org_unit_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="org_unit" type="OrgUnit" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="employee_id"  type="NoSpaceString" minOccurs="0"/>
            <xs:element name="email_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email"  type="NoSpaceString" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

</xs:schema>
