docs/schemas/ef_xml_schema/ef_foundation_data_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="external_id" type="NoSpaceString" />
            <xs:element name="title" type="xs:string" />
            <xs:element name="type" type="xs:string" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="parent_ext_id" type="NoSpaceString" minOccurs="0" />
            <xs:element name="parent_view_id" type="xs:string" minOccurs="0" />
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="last_modified_ts" type="xs:dateTime" />

            <xs:element name="attributes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attribute"  type="OrgUnitAttributeType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="users" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user"  type="FoundationDataUserType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="external_id" type="NoSpaceString" />
            <xs:element name="title" type="xs:string" />
            <xs:element name="type" type="xs:string" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="parent_ext_id" type="NoSpaceString" minOccurs="0" />
            <xs:element name="parent_view_id" type="xs:string" minOccurs="0" />
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />

            <xs:element name="attributes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attribute"  type="OrgUnitAttributeType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="users" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user"  type="FoundationDataUserType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="external_id" type="NoSpaceString" />
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

</xs:schema>
