docs/schemas/ef_xml_schema/ef_foundation_data_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_foundation_data_common.xsd" />

  <xs:element name="EF_Foundation_Data_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Foundation_Data_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Foundation_Data_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Foundation_Data_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Foundation_Data_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="FoundationDataUniqueKey">
      <xs:selector xpath="EF_Foundation_Data_Ingest|EF_Foundation_Data_Update|EF_Foundation_Data_Upsert|EF_Foundation_Data_Delete" />
      <xs:field xpath="external_id" />
    </xs:unique>
  </xs:element>
</xs:schema>
