docs/schemas/ef_xml_schema/ef_holiday_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_holiday_common.xsd" />

  <xs:element name="EF_Holiday_List">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="EF_Holiday_Ingest" type="IngestType" />
        <xs:element name="EF_Holiday_Update" type="UpdateType" />
        <xs:element name="EF_Holiday_Upsert" type="UpdateType" />
        <xs:element name="EF_Holiday_Delete" type="DeleteType" />
      </xs:choice>
    </xs:complexType>
    <xs:unique name="HolidayUniqueKey">
      <xs:selector xpath="EF_Holiday_Ingest|EF_Holiday_Update|EF_Holiday_Upsert|EF_Holiday_Delete" />
      <xs:field xpath="holiday_id" />
    </xs:unique>
  </xs:element>
</xs:schema>
