docs/schemas/ef_xml_schema/ef_holiday_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_common_types.xsd" />

  <xs:complexType name="IngestType">
    <xs:all>
      <xs:element name="holiday_id" type="NoSpaceString" />
      <xs:element name="holiday_date" type="xs:date" />
      <xs:element name="holiday_type" type="HolidayType" />
      <xs:element name="holiday_region" type="xs:string" minOccurs="0" />
      <xs:element name="holiday_name" type="xs:string" minOccurs="0" />
      <xs:element name="creation_ts" type="xs:dateTime" />
      <xs:element name="creator_email" type="NoSpaceString" />
      <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />
      <xs:element name="last_modifier_email" type="NoSpaceString" minOccurs="0" />
    </xs:all>
    <xs:attribute name="operation" fixed="ingest" />
  </xs:complexType>

  <xs:complexType name="UpdateType">
    <xs:all>
      <xs:element name="holiday_id" type="NoSpaceString" />
      <xs:element name="holiday_date" type="xs:date" minOccurs="0" />
      <xs:element name="holiday_type" type="HolidayType" minOccurs="0" />
      <xs:element name="holiday_region" type="xs:string" minOccurs="0" />
      <xs:element name="holiday_name" type="xs:string" minOccurs="0" />
      <xs:element name="creation_ts" type="xs:dateTime" minOccurs="0" />
      <xs:element name="creator_email" type="NoSpaceString" minOccurs="0" />
      <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />
      <xs:element name="last_modifier_email" type="NoSpaceString" minOccurs="0" />
    </xs:all>
    <xs:attribute name="operation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="update" />
          <xs:enumeration value="upsert" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="DeleteType">
    <xs:all>
      <xs:element name="holiday_id" type="NoSpaceString" />
    </xs:all>
    <xs:attribute name="operation" fixed="delete" />
  </xs:complexType>

</xs:schema>
