docs/schemas/ef_xml_schema/ef_org_unit_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_org_unit_common.xsd" />

  <xs:element name="EF_Org_Unit_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Org_Unit_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Org_Unit_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Org_Unit_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Org_Unit_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="OrgUnitUniqueKey">
      <xs:selector xpath="EF_Org_Unit_Ingest|EF_Org_Unit_Update|EF_Org_Unit_Upsert|EF_Org_Unit_Delete" />
      <xs:field xpath="external_id" />
    </xs:unique>
  </xs:element>
</xs:schema>
