docs/schemas/ef_xml_schema/ef_pay_grade_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_pay_grade_common.xsd" />

  <xs:element name="EF_Pay_Grade_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Pay_Grade_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Pay_Grade_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Pay_Grade_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Pay_Grade_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="PayGradeUniqueKey">
      <xs:selector xpath="EF_Pay_Grade_Ingest|EF_Pay_Grade_Update|EF_Pay_Grade_Upsert|EF_Pay_Grade_Delete" />
      <xs:field xpath="name" />
    </xs:unique>
  </xs:element>
</xs:schema>
