docs/schemas/ef_xml_schema/ef_pay_grade_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:complexType name="PayGradeElementType">
        <xs:all>
            <xs:element name="element_id" type="NoSpaceString" />
            <xs:element name="min" type="xs:decimal" minOccurs="0" />
            <xs:element name="max" type="xs:decimal" minOccurs="0" />
            <xs:element name="target" type="xs:decimal" minOccurs="0" />
            <xs:element name="value" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ConditionType">
        <xs:all>
            <xs:element name="field_name" type="NoSpaceString" />
            <xs:element name="field_value" type="xs:string" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="external_id" type="NoSpaceString" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="parent_ext_id" type="xs:string" minOccurs="0" />
            <xs:element name="is_localized" type="xs:boolean" minOccurs="0" />
            <xs:element name="active" type="xs:boolean" minOccurs="0" />
            <xs:element name="conditions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="condition" type="ConditionType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_codes" type="xs:string" minOccurs="0" />
            <xs:element name="elements" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="element" type="PayGradeElementType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="last_modified_ts" type="xs:dateTime" />
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="external_id" type="NoSpaceString" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="parent_ext_id" type="xs:string" minOccurs="0" />
            <xs:element name="is_localized" type="xs:boolean" minOccurs="0" />
            <xs:element name="active" type="xs:boolean" minOccurs="0" />
            <xs:element name="conditions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="condition" type="ConditionType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_codes" type="xs:string" minOccurs="0" />
            <xs:element name="elements" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="element" type="PayGradeElementType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="external_id" type="NoSpaceString" />
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

</xs:schema>
