docs/schemas/ef_xml_schema/ef_planned_event_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_planned_event_common.xsd" />

  <xs:element name="EF_Planned_Event_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Planned_Event_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Planned_Event_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Planned_Event_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Planned_Event_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="PlannedEventUniqueKey">
      <xs:selector xpath="EF_Planned_Event_Ingest|EF_Planned_Event_Update|EF_Planned_Event_Upsert|EF_Planned_Event_Delete" />
      <xs:field xpath="ext_event_id" />
    </xs:unique>
  </xs:element>
</xs:schema>