docs/schemas/ef_xml_schema/ef_position_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_position_common.xsd" />

  <xs:element name="EF_Position_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Position_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Position_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Position_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Position_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="PositionUniqueKey">
      <xs:selector xpath="EF_Position_Ingest|EF_Position_Update|EF_Position_Upsert|EF_Position_Delete" />
      <xs:field xpath="job_id" />
    </xs:unique>
  </xs:element>
</xs:schema>