docs/schemas/ef_xml_schema/ef_project_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_project_common.xsd" />

  <xs:element name="EF_Project_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Project_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Project_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Project_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Project_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:unique name="ProjectUniqueKey">
      <xs:selector xpath="EF_Project_Ingest|EF_Project_Update|EF_Project_Upsert|EF_Project_Delete" />
      <xs:field xpath="job_id" />
    </xs:unique>
  </xs:element>
</xs:schema>