docs/schemas/ef_xml_schema/ef_position_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="job_id" type="NoSpaceString" />
            <xs:element name="group_id" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="title" type="xs:string" />
            <xs:element name="job_description" type="xs:string" />
            <xs:element name="company" type="xs:string" />
            <xs:element name="status" type="xs:string" />
            <xs:element name="is_open" type="xs:boolean" />
            <xs:element name="posted_for" type="PostedForType" minOccurs="0" />
            <xs:element name="openings" type="OpeningsType" minOccurs="0" />
            <xs:element name="creation_ts" type="xs:dateTime" />
            <xs:element name="last_modified_ts" type="xs:dateTime" />
            <xs:element name="recruiter" type="UserType" minOccurs="0" />
            <xs:element name="job_function" type="xs:string" minOccurs="0" />
            <xs:element name="job_code" type="xs:string" minOccurs="0" />
            <xs:element name="business_unit" type="xs:string" minOccurs="0" />
            <xs:element name="posting_url" type="xs:string" minOccurs="0" />
            <xs:element name="internal_posting_url" type="xs:string" minOccurs="0" />
            <xs:element name="posting_title" type="xs:string" minOccurs="0" />
            <xs:element name="location_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="location_city" type="xs:string" minOccurs="0" />
            <xs:element name="location_state" type="xs:string" minOccurs="0" />
            <xs:element name="location_country" type="xs:string" minOccurs="0" />
            <xs:element name="address_details" type="LocationType" minOccurs="0" />
            <xs:element name="work_location_option" type="xs:string" minOccurs="0" />
            <xs:element name="location_flexibility" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="not_flexible|flexible_within_country|flexible_global"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="is_private" type="xs:boolean" minOccurs="0" />
            <xs:element name="hiring_manager" type="UserType" minOccurs="0" />
            <xs:element name="sourcer_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="sourcer"  type="UserType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="follower_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="follower" type="UserType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="company_description" type="xs:string" minOccurs="0" />
            <xs:element name="hiring_band" type="xs:string" minOccurs="0" />
            <xs:element name="is_posted" type="xs:boolean" minOccurs="0" />
            <xs:element name="is_evergreen" type="xs:boolean" minOccurs="0" />
            <xs:element name="restrict_access" type="xs:boolean" minOccurs="0" />
            <xs:element name="display_job_id" type="xs:string" minOccurs="0" />
            <xs:element name="workflow_template_id" type="xs:string" minOccurs="0" />
            <xs:element name="employment_type" type="xs:string" minOccurs="0" />
            <xs:element name="min_salary" type="xs:string" minOccurs="0" />
            <xs:element name="max_salary" type="xs:string" minOccurs="0" />
            <xs:element name="min_experience" type="xs:nonNegativeInteger" minOccurs="0" />
            <xs:element name="max_experience" type="xs:nonNegativeInteger" minOccurs="0" />
            <xs:element name="relevant_experience" type="xs:boolean" minOccurs="0" />
            <xs:element name="is_required_experience" type="xs:boolean" minOccurs="0" />
            <xs:element name="seniority_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="seniority"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="UserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_stage_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_stage"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="question_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="question"  type="QuestionType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="questionnaire" type="QuestionnaireType" minOccurs="0"/>
            <xs:element name="job_post_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_post"  type="JobPostType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rejection_reason_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rejection_reason"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="status_change_reason" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_info" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="custom_objects_list" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="object_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="list_of_objects" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="skills_list" type="SkillListType" minOccurs="0" />
            <xs:element name="required_skills_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="skill"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_type_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_type"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activity_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="activity" type="PositionActivityType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attachment_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attachment" type="IntakeFormAttachmentType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intake_form_template" type="IntakeFormTemplateType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="org_unit_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="org_unit" type="OrgUnit" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pay_grade" type="PayGradeType" minOccurs="0" />
            <xs:element name="role_association_settings" type="RoleAssociationSettingsForPositionType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="job_id" type="NoSpaceString" />
            <xs:element name="group_id" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <xs:element name="job_description" type="xs:string" minOccurs="0" />
            <xs:element name="company" type="xs:string" minOccurs="0" />
            <xs:element name="status" type="xs:string" minOccurs="0" />
            <xs:element name="is_open" type="xs:boolean" minOccurs="0" />
            <xs:element name="posted_for" type="PostedForType" minOccurs="0" />
            <xs:element name="openings" type="OpeningsType" minOccurs="0" />
            <xs:element name="creation_ts" type="xs:dateTime" minOccurs="0" />
            <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0" />
            <xs:element name="recruiter" type="UserType" minOccurs="0" />
            <xs:element name="job_function" type="xs:string" minOccurs="0" />
            <xs:element name="job_code" type="xs:string" minOccurs="0" />
            <xs:element name="business_unit" type="xs:string" minOccurs="0" />
            <xs:element name="posting_url" type="xs:string" minOccurs="0" />
            <xs:element name="internal_posting_url" type="xs:string" minOccurs="0" />
            <xs:element name="posting_title" type="xs:string" minOccurs="0" />
            <xs:element name="location_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="location_city" type="xs:string" minOccurs="0" />
            <xs:element name="location_state" type="xs:string" minOccurs="0" />
            <xs:element name="location_country" type="xs:string" minOccurs="0" />
            <xs:element name="address_details" type="LocationType" minOccurs="0" />
            <xs:element name="work_location_option" type="xs:string" minOccurs="0" />
            <xs:element name="is_private" type="xs:boolean" minOccurs="0" />
            <xs:element name="hiring_manager" type="UserType" minOccurs="0" />
            <xs:element name="sourcer_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="sourcer"  type="UserType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="follower_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="follower" type="UserType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="company_description" type="xs:string" minOccurs="0" />
            <xs:element name="hiring_band" type="xs:string" minOccurs="0" />
            <xs:element name="is_posted" type="xs:boolean" minOccurs="0" />
            <xs:element name="is_evergreen" type="xs:boolean" minOccurs="0" />
            <xs:element name="location_flexibility" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="not_flexible|flexible_within_country|flexible_global"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="restrict_access" type="xs:boolean" minOccurs="0" />
            <xs:element name="display_job_id" type="xs:string" minOccurs="0" />
            <xs:element name="workflow_template_id" type="xs:string" minOccurs="0" />
            <xs:element name="employment_type" type="xs:string" minOccurs="0" />
            <xs:element name="min_salary" type="xs:string" minOccurs="0" />
            <xs:element name="max_salary" type="xs:string" minOccurs="0" />
            <xs:element name="min_experience" type="xs:nonNegativeInteger" minOccurs="0" />
            <xs:element name="max_experience" type="xs:nonNegativeInteger" minOccurs="0" />
            <xs:element name="relevant_experience" type="xs:boolean" minOccurs="0" />
            <xs:element name="is_required_experience" type="xs:boolean" minOccurs="0" />
            <xs:element name="seniority_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="seniority"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_group_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="user_group"  type="UserGroupType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="job_stage_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="job_stage"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="question_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="question"  type="QuestionType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="questionnaire" type="QuestionnaireType" minOccurs="0"/>
            <xs:element name="job_post_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="job_post"  type="JobPostType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="rejection_reason_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rejection_reason"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="status_change_reason" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_info" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="custom_objects_list" minOccurs="0">
            <xs:complexType>
                <xs:all>
                <xs:element name="object_list" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="list_of_objects" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    </xs:complexType>
                </xs:element>
                </xs:all>
            </xs:complexType>
            </xs:element>
            <xs:element name="skills_list" type="SkillListType" minOccurs="0"/>
            <xs:element name="required_skills_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="skill"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_type_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_type"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activity_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="activity" type="PositionActivityType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attachment_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attachment" type="IntakeFormAttachmentType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intake_form_template" type="IntakeFormTemplateType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="org_unit_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="org_unit" type="OrgUnit" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pay_grade" type="PayGradeType" minOccurs="0" />
            <xs:element name="role_association_settings" type="RoleAssociationSettingsForPositionType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="job_id" type="NoSpaceString" />
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

<!--    Added this for schema validation of eightfold type XML feed ingest used in exchange context-->
    <xs:complexType name="UrlIngestType">
        <xs:all>
            <xs:element name="job_id" type="NoSpaceString" />
            <xs:element name="group_id" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="system_id" type="xs:string" minOccurs="0"/>
            <xs:element name="title" type="xs:string" />
            <xs:element name="job_description" type="xs:string" />
            <xs:element name="company" type="xs:string"/>
            <xs:element name="status" type="xs:string" minOccurs="0"/>
            <xs:element name="is_open" type="xs:boolean" minOccurs="0"/>
            <xs:element name="posted_for" type="PostedForType" default="all" minOccurs="0"/>
            <xs:element name="openings" type="OpeningsType" minOccurs="0" />
            <xs:element name="creation_ts" type="xs:dateTime" minOccurs="0" />
            <xs:element name="last_modified_ts" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="recruiter" type="UserType" minOccurs="0" />
            <xs:element name="job_function" type="xs:string" minOccurs="0" />
            <xs:element name="job_code" type="xs:string" minOccurs="0" />
            <xs:element name="business_unit" type="xs:string" minOccurs="0" />
            <xs:element name="posting_url" type="xs:string" minOccurs="0" />
            <xs:element name="internal_posting_url" type="xs:string" minOccurs="0" />
            <xs:element name="posting_title" type="xs:string" minOccurs="0" />
            <xs:element name="location_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="location_city" type="xs:string" minOccurs="0" />
            <xs:element name="location_state" type="xs:string" minOccurs="0" />
            <xs:element name="location_country" type="xs:string" minOccurs="0" />
            <xs:element name="address_details" type="LocationType" minOccurs="0" />
            <xs:element name="work_location_option" type="xs:string" minOccurs="0" />
            <xs:element name="location_flexibility" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="not_flexible|flexible_within_country|flexible_global"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="is_private" type="xs:boolean" minOccurs="0" />
            <xs:element name="hiring_manager" type="UserType" minOccurs="0" />
            <xs:element name="sourcer_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="sourcer"  type="UserType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="follower_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="follower" type="UserType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="company_description" type="xs:string" minOccurs="0" />
            <xs:element name="hiring_band" type="xs:string" minOccurs="0" />
            <xs:element name="is_posted" type="xs:boolean" minOccurs="0" />
            <xs:element name="is_evergreen" type="xs:boolean" minOccurs="0" />
            <xs:element name="restrict_access" type="xs:boolean" minOccurs="0" />
            <xs:element name="display_job_id" type="xs:string" minOccurs="0" />
            <xs:element name="workflow_template_id" type="xs:string" minOccurs="0" />
            <xs:element name="employment_type" type="xs:string" minOccurs="0" />
            <xs:element name="min_salary" type="xs:string" minOccurs="0" />
            <xs:element name="max_salary" type="xs:string" minOccurs="0" />
            <xs:element name="min_experience" type="xs:nonNegativeInteger" minOccurs="0" />
            <xs:element name="max_experience" type="xs:nonNegativeInteger" minOccurs="0" />
            <xs:element name="relevant_experience" type="xs:boolean" minOccurs="0" />
            <xs:element name="is_required_experience" type="xs:boolean" minOccurs="0" />
            <xs:element name="seniority_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="seniority"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="UserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_stage_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_stage"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="question_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="question"  type="QuestionType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="questionnaire" type="QuestionnaireType" minOccurs="0"/>
            <xs:element name="job_post_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_post"  type="JobPostType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rejection_reason_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rejection_reason"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="status_change_reason" type="xs:string" minOccurs="0"/>
            <xs:element name="custom_info" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="custom_multi_value_list" minOccurs="0">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="custom_objects_list" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="object_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="object" type="CustomFieldCompositeType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="list_of_objects" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="object_list" type="CustomCompositeListType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="skills_list" type="SkillListType" minOccurs="0" />
            <xs:element name="required_skills_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="skill"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="job_type_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="job_type"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activity_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="activity" type="PositionActivityType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

</xs:schema>