docs/schemas/ef_xml_schema/ef_role_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_role_common.xsd" />

  <xs:element name="EF_Role_List">
    <xs:complexType>
      <xs:all>
        <xs:element name="EF_Role" maxOccurs="unbounded" minOccurs="0">
          <xs:alternative test="@operation = 'ingest'" type="IngestType"/>
          <xs:alternative test="@operation = 'update'" type="UpdateType"/>
          <xs:alternative test="@operation = 'upsert'" type="UpdateType"/>
          <xs:alternative test="@operation = 'delete'" type="DeleteType"/>
        <xs:element name="EF_Role_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Role_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Role_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="EF_Role_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:element>
      </xs:all>
    </xs:complexType>
    <xs:unique name="RoleUniqueKey">
      <xs:selector xpath="EF_Role_Ingest|EF_Role_Update|EF_Role_Upsert|EF_Role_Delete" />
      <xs:field xpath="external_id" />
    </xs:unique>
  </xs:element>
</xs:schema>