docs/schemas/ef_xml_schema/ef_succession_plan_hybrid.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_succession_plan_common.xsd" />

    <xs:element name="EF_Succession_Plan_List">
        <xs:complexType>
            <xs:all>
                <xs:element name="EF_Succession_Plan_Ingest" type="IngestType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="EF_Succession_Plan_Update" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="EF_Succession_Plan_Upsert" type="UpdateType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="EF_Succession_Plan_Delete" type="DeleteType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
        <xs:unique name="SuccessionPlanUniqueKey">
            <xs:selector xpath="EF_Succession_Plan" />
            <xs:field xpath="plan_id" />
        </xs:unique>
    </xs:element>
</xs:schema>
