docs/schemas/ef_xml_schema/ef_succession_plan_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="plan_id" type="xs:string"/>
            <xs:element name="plan_date" type="xs:date" minOccurs="0"/>
            <xs:element name="incumbent_list">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="incumbent" type="IncumbentType" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="successor_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="successor" type="SuccessorType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="plan_id" type="xs:string"/>
            <xs:element name="plan_date"  type="xs:date" minOccurs="0"/>
            <xs:element name="incumbent_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="incumbent" type="IncumbentType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="successor_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="successor" type="SuccessorType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="plan_id" type="xs:string"/>
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

</xs:schema>
