docs/schemas/ef_xml_schema/ef_user_common.xsd

<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ef_common_types.xsd" />

    <xs:element name="DefaultAccessModeGroup" abstract="true" />
    <xs:element name="default_access_mode" type="DefaultAccessType" substitutionGroup="DefaultAccessModeGroup" />
    <xs:element name="role" type="xs:string" substitutionGroup="DefaultAccessModeGroup" />

    <xs:complexType name="IngestType">
        <xs:all>
            <xs:element name="email" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="group_id" type="xs:string" minOccurs="0"/>
            <xs:element name="first_name" type="xs:string" />
            <xs:element name="last_name" type="xs:string" />
            <xs:element name="external_unique_id" type="xs:string" minOccurs="0"/>
            <xs:element name="language" type="xs:string" minOccurs="0"/>
            <xs:element ref="DefaultAccessModeGroup" minOccurs="1" />
            <xs:element name="company" type="xs:string" minOccurs="0"/>
            <xs:element name="roles_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="role"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="UserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rm_user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="RmUserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ef_user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ef_user_group"  type="EFUserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_countries_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_country"  type="UserCountryType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hrbp_data" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="business_unit_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="business_unit"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="location_list" minOccurs="0">
                        <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="location"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="job_level_floor" minOccurs="0"/>
                        <xs:element name="job_level_ceiling" minOccurs="0"/>
                        <xs:element name="business_function_list" minOccurs="0">
                        <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="business_function"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="custom_info" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="custom_multi_value_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="interviewer_tag_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="interviewer_tag"  type="InterviewerTagType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation" fixed="ingest"/>
    </xs:complexType>

    <xs:complexType name="UpdateType">
        <xs:all>
            <xs:element name="email" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="group_id" type="xs:string" minOccurs="0"/>
            <xs:element name="first_name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="last_name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="external_unique_id" type="xs:string" minOccurs="0"/>
            <xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
            <xs:element ref="DefaultAccessModeGroup" minOccurs="0" />
            <xs:element name="language" type="xs:string" minOccurs="0"/>
            <xs:element name="company" type="xs:string" minOccurs="0"/>
            <xs:element name="roles_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="role"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="UserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rm_user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_group"  type="RmUserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ef_user_group_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ef_user_group"  type="EFUserGroupType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="user_countries_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_country"  type="UserCountryType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hrbp_data" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="business_unit_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="business_unit"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="location_list" minOccurs="0">
                        <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="location"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="job_level_floor" minOccurs="0"/>
                        <xs:element name="job_level_ceiling" minOccurs="0"/>
                        <xs:element name="business_function_list" minOccurs="0">
                        <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="business_function"  type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="custom_info" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                <xs:element name="custom_field" type="CustomFieldType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="custom_multi_value_list" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                <xs:element name="custom_mv_field" type="CustomFieldNativeListType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="interviewer_tag_list" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="interviewer_tag"  type="InterviewerTagType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="operation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="update"/>
                    <xs:enumeration value="upsert"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DeleteType">
        <xs:all>
            <xs:element name="email" type="NoSpaceString" minOccurs="0"/>
            <xs:element name="external_unique_id" type="xs:string" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="operation" fixed="delete"/>
    </xs:complexType>

</xs:schema>