docs/schemas/ef_xml_schema/ef_user_update.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ef_user_common.xsd" />
  <xs:element name="EF_User_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EF_User" minOccurs="0" maxOccurs="unbounded" type="UpdateType">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="role_list_merge_strategy" default="latest">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="latest|complete"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
    <xs:unique name="UserUniqueKey">
      <xs:selector xpath="EF_User" />
      <xs:field xpath="email" />
    </xs:unique>
    <xs:unique name="UserUniqueExternalUniqueId">
      <xs:selector xpath="EF_User" />
      <xs:field xpath="external_unique_id" />
    </xs:unique>
  </xs:element>
</xs:schema>
